doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    style(type='text/css').
      ::-webkit-scrollbar {background: #727272; }
      ::-webkit-scrollbar-thumb { background-color: #f7a800;}
    meta(http-equiv='Content-type', content='text/html; charset=UTF-8')
    title Streetlights Data Administration
    link(rel='shortcut icon', type='image/ico', href='http://www.datatables.net/media/images/favicon.ico')
    link(rel='alternate', type='application/rss+xml', title='RSS 2.0', href='http://www.datatables.net/rss.xml')
    link(rel='stylesheet', href='stylesheets/demo_page.css')
    link(href='stylesheets/chosen.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='stylesheets/demo_table.css', type='text/css', media='screen')
    link(rel='stylesheet', href='stylesheets/demo_table_jui.css', type='text/css', media='screen')
    link(rel='stylesheet', href='stylesheets/jquery-ui.css', type='text/css', media='screen')    
    script(type='text/javascript', src='javascripts/complete.js')
    script(src='javascripts/jquery.js', type='text/javascript')    
    script(src='javascripts/jquery-ui.js', type='text/javascript')
    script(src='javascripts/jquery.mask.js', type='text/javascript')
    script(type='text/javascript', src='javascripts/chosen.jquery.js')
    script(type='text/javascript', src='javascripts/chosen.order.jquery.js')    
    script(src='javascripts/jquery.dataTables.js', type='text/javascript')   
    script(src='javascripts/jquery.jeditable.js', type='text/javascript')    
    script(src='javascripts/jquery.validate.js', type='text/javascript')
    script(type='text/javascript', src='javascripts/jquery.dataTables.editable_custom.js') 
    script(src='javascripts/StreetLightsDataTable.js', type='text/javascript')        
    script(type='text/javascript', src='javascripts/jquery.wysiwyg.js')
    script(type='text/javascript', class='init')
    meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='stylesheets/reset.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    title Streetlights Data Administration
    // CSS
    // Reset Stylesheet
    link(rel='stylesheet', href='stylesheets/reset.css', type='text/css', media='screen')
    // Main Stylesheet
    link(rel='stylesheet', href='stylesheets/style.css', type='text/css', media='screen')
    // Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid
    link(rel='stylesheet', href='stylesheets/invalid.css', type='text/css', media='screen')
    //
      Colour Schemes
      Default colour scheme is green. Uncomment prefered stylesheet to use it.
      <link rel="stylesheet" href="stylesheets/blue.css" type="text/css" media="screen" />
      <link rel="stylesheet" href="stylesheets/red.css" type="text/css" media="screen" />
    // Internet Explorer Fixes Stylesheet
    //if lte IE 7
      link(rel='stylesheet', href='stylesheets/ie.css', type='text/css', media='screen')
    // Javascripts
    // jQuery Configuration
    script(type='text/javascript', src='javascripts/simpla.jquery.configuration.js')
    // Facebox jQuery Plugin
    script(type='text/javascript', src='javascripts/facebox.js')
    // jQuery WYSIWYG Plugin    
    // Internet Explorer .png-fix
    //if IE 6
      script(type='text/javascript', src='javascripts/DD_belatedPNG_0.0.7a.js')
      script(type='text/javascript').
        DD_belatedPNG.fix('.png_bg, img, li');
  body
    #body-wrapper
      // Wrapper for the radial gradient background
      #sidebar
        #sidebar-wrapper
          // Sidebar with logo and menu
          h1#sidebar-title
            a(href='#') Streetlights Data Administration
          // Logo (221px wide)
          // Sidebar Profile links
          #profile-links
            | Hello, 
            a#currentUser John Doe
            | 
            br            
            a(href='\logout', title='Sign Out') Sign Out
          ul#main-nav
            // Accordion Menu            
            li
              a.nav-top-item.current(href='#')
                // Add the class "current" to current menu item
                | Music
              ul
                li
                  a#viewCredit(href='#creditdiv' headertext='Credit (Producers/Artists)') Credit<br />(Producers/Artists)
                li
                  a#viewMediaGroup(href='#mediagroupdiv' headertext='Media Groups (Albums/Experiences)') Media Groups<br />(Albums/Experiences)
                // Add class "current" to sub menu items also
                li
                  a#viewMediaItem.current(href='#mediaitemdiv' headertext='Media Items (Tracks/Videos)') Media Items<br />(Tracks/Videos)
            li
              a#viewTeaching.nav-top-item(href='#teachingdiv' headertext='Teaching')
                // Add the class "current" to current menu item
                | Teaching
              ul              
                li
                  a#viewLessonGroup(href='#lessongroupdiv' headertext='Lesson Groups') Lesson Groups    
                li
                  a#viewLesson(href='#lessondiv' headertext='Lessons') Lessons                            
            li
              a.nav-top-item(href='#')
                // Add the class "current" to current menu item
                | Settings
              ul
                li
                  a#viewUser(href='#userdiv' headertext='Users') Users
          // End #main-nav
      // End #sidebar
      #main-content
        // Main Content Section with everything
        noscript
          // Show a notification if the user has disabled javascript
          .notification.error.png_bg
            div
              | Javascript is disabled or is not supported by your browser. Please 
              a(href='http://browsehappy.com/', title='Upgrade to a better browser') upgrade
              |  your browser or 
              a(href='http://www.google.com/support/bin/answer.py?answer=23852', title='Enable Javascript in your browser') enable
              |  Javascript to navigate the interface properly.
        // Page Head
        h2 Welcome Streetlights Admin
        #mediaGroupButtons(style='display:none')
          ul.shortcut-buttons-set
            // Replace the icons URL's with your own
            li
              a#saveMediaGroup.shortcut-button
                span
                  img(src='images/1461412786_floppy_disk_48.png', alt='icon')
                  br
                  | 					Save Album
            li
              a#cancelMediaGroup.shortcut-button
                span
                  img(src='images/1461412996_cancel_48.png', alt='icon')
                  br
                  | 					Cancel
        .clear
        // End .clear
        #adminButtons(style='display:none')
          ul.shortcut-buttons-set
            // Replace the icons URL's with your own
            li
              a#downloandEmails.shortcut-button(href='/printemails/download')
                span
                  img(src='images/1499165169_Upload.png', alt='icon')
                  br
                  | 					Download Emails/Ages
            li
              a#copyData.shortcut-button
                span
                  img(src='images/1499165169_Upload.png', alt='icon')
                  br
                  | 					Copy Data        
        .clear
        // End .clear
        #lessonButtons(style='display:none')
          ul.shortcut-buttons-set
            // Replace the icons URL's with your own
            li
              a#saveLesson.shortcut-button
                span
                  img(src='images/1461412786_floppy_disk_48.png', alt='icon')
                  br
                  | 					Save Lesson
            li
              a#cancelLesson.shortcut-button
                span
                  img(src='images/1461412996_cancel_48.png', alt='icon')
                  br
                  | 					Cancel
        .clear
        // End .clear
        #contentHeader.content-box-header
          h3#ContentHeaderLabel Media Items (Tracks)
        .content-box
          // Start Content Box
          .content-box-content            
            #userdiv.tab-content
              // This is the target div. id must match the href of this div's tab
              div(style='margin:10px 0')
                  #fw_container
                      #fw_content
                        .full_width
                          form#formAddUser
                            label UserName
                            br
                            br
                            input#userName.required(type='text', name='userName', style='width:500px;', rel='0')
                            br
                            br
                            label(for='email') Email
                            br
                            br
                            input#email.required(type='text', name='email', style='width:500px;', rel='1')
                            br
                            br
                            label(for='password') Password
                            br
                            br
                            input#password.required(type='password', name='password', style='width:500px;', rel='2')
                          form#formEditUser
                            label(for='userName') UserName
                            br
                            br
                            input#userNameEdit.required(type='text', name='userNameEdit', style='width:500px;', rel='0')
                            br
                            br
                            label(for='emailEdit') Email
                            br
                            br
                            input#emailEdit.required(type='text', name='emailEdit', style='width:500px;', rel='1')
                            br
                            br
                            a#resetPassword(href='\resetpassword') Send Reset Password Email
                            input#userEditId(type='hidden', name='userEditId')
                          <button id="btnAddUser"></button>
                          <button id="btnEditUser"></button>
                          <button id="btnDeleteUser"></button>                          
                          table#user.display(cellpadding='0', cellspacing='0', border='0')
                            thead
                              tr
                                th userName
                                th email
                            tfoot
                              tr
                                th userName
                                th email
            // End #userdiv
            #mediaitemdiv.tab-content.default-tab
              // This is the target div. id must match the href of this div's tab
              div(style='margin:10px 0')
                  #fw_container
                      #fw_content
                        .full_width
                          form#formAddMediaItem
                            label Name
                            br
                            br
                            input#name.required(type='text', name='name', style='width:500px;', rel='0')
                            br
                            br
                            label(for='mediaitemtype') Media Item Type
                            br
                            br
                            select#mediaitemtype(name='mediaitemtype', style='width:300px;', rel='1')
                                option(value=song) song
                                option(value=experience) experience
                                option(value=lessonVideo) lessonVideo
                                option(value=lessonImage) lessonImage
                                option(value=lessonAudio) lessonAudio
                                option(value=lessonText) lessonText
                            br
                            br
                            label(for='mediaitemtext') Media Item Text
                            br
                            br
                            textarea#text.input-disabled(name='text', cols='25', rows='5', rel='2')
                            br
                            br
                            label(for='mediaitemdescription') Media Item Description
                            br
                            br
                            input#description.required(type='text', name='description', style='width:500px;', rel='3')
                            br
                            br
                            label(for='duration') Duration (HH:MM:SS)    
                            br
                            br
                            input#duration.required(type='text', name='duration', style='width:75px;', rel='4')
                            br
                            br
                            label(for='contentURL') contentURL          
                            br
                            br
                            input#contentURL.required(type='text', name='contentURL', style='width:500px;', rel='5')
                            br
                            br
                            label(for='imageURL') imageURL       
                            br
                            br
                            input#imageURL.input-disabled(type='text', name='imageURL', style='width:500px;', rel='6')
                            br
                            br
                            label(for='mediaitemproducer') Media Item Producer
                            br
                            br
                            select#mediaitemproducer.required(name='mediaitemproducer', style='width:300px;', rel='7')
                            br
                            br
                            label(for='mediaitemartist') Media Item Artist
                            br
                            br
                            select#mediaitemartist.required(name='mediaitemartist', style='width:300px;', rel='8')
                          form#formEditMediaItem
                            label(for='name') Name
                            br
                            br
                            input#nameEdit.required(type='text', name='nameEdit', style='width:500px;', rel='0')
                            br
                            br
                            label Media Item Type
                            br
                            br
                            select#typeEdit(name='typeEdit', style='width:300px;', rel='1')
                                option(value=song) song
                                option(value=experience) experience
                                option(value=lessonVideo) lessonVideo
                                option(value=lessonImage) lessonImage
                                option(value=lessonAudio) lessonAudio
                                option(value=lessonText) lessonText
                            br
                            br
                            label(for='textEdit') Media Item Text
                            br
                            br
                            textarea#textEdit(type='text', name='textEdit', cols='25', rows='5', rel='2')
                            br
                            br
                            label(for='descriptionEdit') Media Item Description
                            br
                            br
                            input#descriptionEdit(type='text', name='descriptionEdit', style='width:500px;', rel='3')
                            br
                            br
                            label(for='durationEdit') Duration (HH:MM:SS)
                            br
                            br
                            input#durationEdit.required(type='text', name='durationEdit', style='width:75px;', rel='4')
                            br
                            br
                            label(for='contentURLEdit') contentURL
                            br
                            br
                            input#contentURLEdit(type='text', name='contentURLEdit', style='width:500px;', rel='5')
                            br
                            br
                            label(for='imageURLEdit') imageURL
                            br
                            br
                            input#imageURLEdit(type='text', name='imageURLEdit', style='width:500px;', rel='6')
                            br
                            br
                            label(for='producerEdit') Media Item Producer
                            br
                            br
                            select#producerEdit(name='producerEdit', data-placeholder="Type 'C' to view", style='width:300px;', tabindex='11', rel='7')
                            br
                            br
                            label(for='artistEdit') Media Item Artist
                            br
                            br
                            select#artistEdit(name='artistEdit', data-placeholder="Type 'C' to view", style='width:300px;', tabindex='11', rel='8')
                            input#mediaItemEditId(type='hidden', name='mediaItemEditId')
                          <button id="btnAddMediaItem"></button>
                          <button id="btnEditMediaItem"></button>
                          <button id="btnDeleteMediaItem"></button>                          
                          table#mediaitem.display(cellpadding='0', cellspacing='0', border='0')
                            thead
                              tr
                                th name
                                th type
                                th text
                                th description
                                th duration (HH:MM:SS)
                                th contentURL
                                th imageURL
                                th producer
                                th artist
                            tfoot
                              tr
                                th name
                                th type
                                th text
                                th description
                                th duration (HH:MM:SS)
                                th contentURL
                                th imageURL
                                th producer
                                th artist
            // End #mediaitemdiv
            #creditdiv.tab-content
              // This is the target div. id must match the href of this div's tab
              div(style='margin:10px 0')
                  #fw_container
                      #fw_content
                        .full_width
                          form#formAddCredit
                            label(for='creditNameAdd') Name
                            br
                            br
                            input#creditNameAdd.required(type='text', name='creditNameAdd', style='width:500px;', rel='0')
                          form#formEditCredit
                            label(for='creditNameEdit') Name
                            br
                            br
                            input#creditNameEdit.required(type='text', name='creditNameEdit', style='width:500px;', rel='0')
                            input#creditEditId(type='hidden', name='creditEditId') 
                          <button id="btnAddCredit"></button>                          
                          <button id="btnEditCredit"></button>   
                          <button id="btnDeleteCredit"></button>
                          table#credit.display(cellpadding='0', cellspacing='0', border='0')
                            thead
                              tr
                                th name
                            tfoot
                              tr
                                th name
                // End .clear
            // End #creditdiv
            #lessongroupdiv.tab-content
              // This is the target div. id must match the href of this div's tab
              div(style='margin:10px 0')
                  #fw_container
                      #fw_content
                        .full_width
                          form#formAddLessonGroup
                            label(for='lessonGroupTitle') Title
                            br
                            br
                            input#lessonGroupTitle.required(type='text', name='lessonGroupTitle', style='width:500px;', rel='0')
                            br
                            br                            
                            label(for='lessonGroupImageURL') imageURL
                            br
                            br
                            input#lessonGroupImageURL.required(type='text', name='lessonGroupImageURL', style='width:500px;', rel='1')
                            br
                            br
                            label(for='lessonGroupLessonsAdd') Lessons
                            br
                            br
                            select#lessonGroupLessonsAdd(data-placeholder='Choose a lesson...', multiple, name='lessonGroupLessonsAdd', style='width:500px;', rel='2')   
                          form#formEditLessonGroup
                            label(for='lessonGroupTitleEdit') Title
                            br
                            br
                            input#lessonGroupTitleEdit.required(type='text', name='lessonGroupTitleEdit', style='width:500px;', rel='0')
                            br
                            br
                            label(for='lessonGroupImageURLEdit') imageURL
                            br
                            br
                            input#lessonGroupImageURLEdit.required(type='text', name='lessonGroupImageURLEdit', style='width:500px;', rel='1')
                            br
                            br
                            label(for='lessonGroupLessonsEdit') Lessons
                            br
                            br
                            select#lessonGroupLessonsEdit(data-placeholder='Select an option...', rel='2', style='width:500px !important;' multiple='', name='lessonGroupLessonsEdit') 
                            input#lessonGroupId(type='hidden', name='lessonGroupId') 
                          <button id="btnAddLessonGroup"></button>                          
                          <button id="btnEditLessonGroup"></button>   
                          <button id="btnDeleteLessonGroup"></button>
                          table#lessongroup.display(cellpadding='0', cellspacing='0', border='0')
                            thead
                              tr
                                th title                                
                                th imageURL
                                th lessons
                            tfoot
                              tr
                                th title
                                th imageURL
                                th lessons
                // End .clear
            // End #lessongroupdiv
            #teachingdiv.tab-content
              // This is the target div. id must match the href of this div's tab
              div(style='margin:10px 0')
                  #fw_container
                      #fw_content
                        .full_width
                          form#formAddTeaching
                            label(for='teachingTitle') Title
                            br
                            br
                            input#teachingTitle.required(type='text', name='teachingTitle', style='width:500px;', rel='0')
                            br
                            br
                            label(for='teachingLessonGroupsAdd') Lesson Groups
                            br
                            br
                            select#teachingLessonGroupsAdd.required(data-placeholder='Choose a group...', multiple, name='teachingLessonGroupsAdd', style='width:500px;', rel='1')   
                          form#formEditTeaching
                            label(for='teachingTitleEdit') Title
                            br
                            br
                            input#teachingTitleEdit.required(type='text', name='teachingTitleEdit', style='width:500px;', rel='0')
                            br
                            br
                            label(for='teachingLessonGroupsEdit') Lesson Groups
                            br
                            br
                            select#teachingLessonGroupsEdit(data-placeholder='Choose a lesson group...', multiple, name='teachingLessonGroupsEdit', style='width:500px;', rel='1')   
                            input#teachingEditId(type='hidden', name='teachingEditId') 
                          <button id="btnAddTeaching"></button>                          
                          <button id="btnEditTeaching"></button>   
                          <button id="btnDeleteTeaching"></button>
                          table#teaching.display(cellpadding='0', cellspacing='0', border='0')
                            thead
                              tr
                                th title
                                th lessongroups
                            tfoot
                              tr
                                th title
                                th lessongroups
                // End .clear
            // End #teachingdiv
            #lessondiv.tab-content
              // This is the target div. id must match the href of this div's tab
              div(style='margin:10px 0')
                  #fw_container
                      #fw_content
                        .full_width
                          <button id="btnAddLesson"></button>
                          <button id="btnEditLesson"></button>
                          <button id="btnDeleteLesson"></button>                          
                          table#lesson.display(cellpadding='0', cellspacing='0', border='0')
                            thead
                              tr
                                th title
                                th imageURL
                            tfoot
                              tr
                                th title
                                th imageURL
             // End #lessondiv
            #lessoneditadddiv.tab-content
              // This is the target div. id must match the href of this div's tab
              div(style='margin:10px 0')
                  #fw_container
                      #fw_content
                        .full_width
                          form#formAddLesson
                            label(for='lessonTitleAdd') Title
                            br
                            br
                            input#lessonTitleAdd.required(type='text', name='lessonTitleAdd', style='width:500px;', rel='0')
                            br
                            br
                            label(for='imageURL') imageURL
                            br
                            br
                            input#lessonImageURLAdd.required(type='text', name='lessonImageURLAdd', style='width:500px;', rel='1')
                            input#lessonIdAdd(type='hidden', name='lessonIdAdd')
                          form#formEditLesson(style='width:100%;')
                            label(for='lessonTitleEdit') Title
                            br
                            br
                            input#lessonTitleEdit.required(type='text', name='lessonTitleEdit', style='width:500px;', rel='0')
                            br
                            br
                            label(for='lessonImageURLEdit') imageURL
                            br
                            br
                            input#lessonImageURLEdit.required(type='text', name='lessonImageURLEdit', style='width:500px;', rel='1')    
                            input#lessonIdEdit(type='hidden', name='lessonIdEdit')
                          form#formEditLessonPage(style='width:100%;overflow:visible;height=200px', name='formEditLessonPage')
                            label(for='lessonPageItemsEdit') mediaItems
                            br
                            br
                            select#lessonPageItemsEdit(data-placeholder='Select an option...', rel='0', style='width:500px !important;' multiple='')
                            input#lessonIdPageEdit(type='hidden', name='lessonIdPageEdit')
                            input#lessonPageId(type='hidden', name='lessonPageId')
                          form#formAddLessonPage
                            label(for='lessonPageItemsAdd') mediaItems
                            br
                            br
                            select#lessonPageItemsAdd(data-placeholder='Choose a media item...', multiple, name='lessonPageItemsAdd', style='width:500px;', rel='0')   
                            input#lessonIdPageAdd(type='hidden', name='lessonIdPageAdd')
              #lessonPageContentHeader.content-box-header(style='display:none')
                h3#LessonPageContentHeaderLabel Lesson Pages
              #lessonPageTableDiv.tabcontent(style='display:none')
                // This is the target div. id must match the href of this div's tab
                div(style='margin:10px 0')
                    #fw_container
                        #fw_content
                          .full_width
                            <button id="btnAddLessonPage"></button>
                            <button id="btnEditLessonPage"></button>
                            <button id="btnDeleteLessonPage"></button> 
                            table#lessonpage(cellpadding='0', cellspacing='0', border='0')
                              thead
                                tr
                                  mediaItems
                              tfoot
                                tr
                                  mediaItems
                              // End .clear
              // End #lessondiv
            #mediagroupdiv.tab-content
              // This is the target div. id must match the href of this div's tab
              div(style='margin:10px 0')
                  #fw_container
                      #fw_content
                        .full_width
                          <button id="btnAddMediaGroup"></button>
                          <button id="btnEditMediaGroup"></button>
                          <button id="btnDeleteMediaGroup"></button>
                          <button id="btnMoveAlbumUp"></button>
                          <button id="btnMoveAlbumDown"></button>
                          table#mediagroup.display(cellpadding='0', cellspacing='0', border='0', width='100%')
                            thead
                              tr
                                th index
                                th title
                                th type
                                th detail
                                th imageURL
                                th producer
                                th artist
                            tfoot
                              tr
                                th index
                                th title
                                th type
                                th detail
                                th imageURL
                                th producer
                                th artist
                // End .clear
            // End #mediagroupdiv
            #mediagroupeditadddiv.tab-content
              // This is the target div. id must match the href of this div's tab
              div(style='margin:10px 0')
                  #fw_container
                      #fw_content
                        .full_width
                          form#formAddMediaGroup
                            label(for='mediaGroupTitleAdd') Title
                            br
                            br
                            input#mediaGroupTitleAdd.required(type='text', name='mediaGroupTitleAdd', style='width:500px;', rel='0')
                            br
                            br
                            label(for='mediaGroupTypeAdd') Type
                            br
                            br
                            select#mediaGroupTypeAdd(name='mediaGroupTypeAdd', style='width:300px;', rel='1')
                                option(value=album) album
                                option(value=experience) experience
                            br
                            br
                            label(for='mediaGroupIndexAdd') Index (Number in Album Order)
                            br
                            br
                            input#mediaGroupIndexAdd(type='text', name='mediaGroupIndexAdd', style='width:500px;', rel='2')
                            br
                            br
                            label(for='mediaGroupDetailAdd') Detail
                            br
                            br
                            input#mediaGroupDetailAdd(type='text', name='mediaGroupDetailAdd', style='width:500px;', rel='3')
                            br
                            br
                            label(for='mediaGroupImageURLAdd') ImageURL
                            br
                            br
                            input#mediaGroupImageURLAdd(type='text', name='mediaGroupImageURLAdd', style='width:500px;', rel='4')
                            br
                            br
                            label(for='mediaGroupProducerAdd') Group Producer
                            br
                            br
                            select#mediaGroupProducerAdd(name='mediaGroupProducerAdd', data-placeholder="Type 'C' to view", style='width:300px;', tabindex='11', rel='5')
                            br
                            br
                            label(for='mediaGroupArtistAdd') Group Artist
                            br
                            br
                            select#mediaGroupArtistAdd(name='mediaGroupArtistAdd', data-placeholder="Type 'C' to view", style='width:300px;', tabindex='11', rel='6')
                          form#formEditMediaGroup(style='width:100%;')
                            label(for='mediaGroupTitleEdit') Title
                            br
                            br
                            input#mediaGroupTitleEdit.required(type='text', name='mediaGroupTitleEdit', style='width:500px;', rel='0')
                            br
                            br
                            label(for='mediaGroupTypeEdit') Type
                            br
                            br
                            select#mediaGroupTypeEdit(name='mediaGroupTypeEdit', style='width:300px;', rel='1')
                                option(value="album") album
                                option(value="experience") experience
                            br
                            br
                            label(for='mediaGroupIndexEdit') Index (Number in Album Order)
                            br
                            br
                            input#mediaGroupIndexEdit(type='text', name='mediaGroupIndexEdit', style='width:500px;', rel='2')
                            br
                            br
                            label(for='mediaGroupDetailEdit') Detail
                            br
                            br
                            input#mediaGroupDetailEdit(type='text', name='mediaGroupDetailEdit', style='width:500px;', rel='3')
                            br
                            br
                            label(for='mediaGroupImageURLEdit') ImageURL
                            br
                            br
                            input#mediaGroupImageURLEdit(type='text', name='mediaGroupImageURLEdit', style='width:500px;', rel='4')
                            br
                            br
                            label(for='mediaGroupProducerEdit') Media Group Producer
                            br
                            br
                            select#mediaGroupProducerEdit(name='mediaGroupProducerEdit', data-placeholder="Type 'C' to view", style='width:300px;', tabindex='11', rel='5')
                            br
                            br
                            label(for='mediaGroupArtistEdit') Media Group Artist
                            br
                            br
                            select#mediaGroupArtistEdit(name='mediaGroupArtistEdit', data-placeholder="Type 'C' to view", style='width:300px;', tabindex='11', rel='6')
                            input#mediaGroupIdEdit(type='hidden', name='mediaGroupIdEdit')
                          form#formAddMediaGroupItem
                            label(for='mediaGroupItemNameAdd') Name
                            br
                            br
                            select#mediaGroupItemNameAdd(name='mediaGroupItemNameAdd', data-placeholder="Type 'C' to view", style='width:300px;', tabindex='11', rel='0')                            
                            br
                            br
                            label(for='mediaGroupItemTypeAdd') Media Item Type
                            br
                            br
                            input#mediaGroupItemTypeAdd(type='text', name='mediaGroupItemTypeAdd', style='width:500px;', rel='1', readonly='')
                            br
                            br
                            label(for='mediaGroupItemDurationAdd') Duration (HH:MM:SS)
                            br
                            br
                            input#mediaGroupItemDurationAdd(type='text', name='mediaGroupItemDurationAdd', style='width:75px;', rel='2', readonly='')
                            br
                            br
                            label(for='mediaGroupItemContentURLAdd') contentURL
                            br
                            br
                            input#mediaGroupItemContentURLAdd(type='text', name='mediaGroupItemContentURLAdd', style='width:500px;', rel='3', readonly='')
                            br
                            br
                            label(for='mediaGroupItemImageURLAdd') imageURL
                            br
                            br
                            input#mediaGroupItemImageURLAdd(type='text', name='mediaGroupItemImageURLAdd', style='width:500px;', rel='4', readonly='')
                            br
                            br
                            label(for='mediaGroupItemProducerAdd') Media Group Item Producer
                            br
                            br
                            input#mediaGroupItemProducerAdd(type='text', name='mediaGroupItemProducerAdd', style='width:500px;', rel='5', readonly='')       
                            br
                            br
                            label(for='mediaGroupItemArtistAdd') Media Group Item Artist
                            br
                            br
                            input#mediaGroupItemArtistAdd(type='text', name='mediaGroupItemArtistAdd', style='width:500px;', rel='6', readonly='')                            
                            input#mediaGroupItemId(type='hidden', name='mediaGroupItemId')
                            input#mediaGroupIdItemAdd(type='hidden', name='mediaGroupIdItemAdd')
              #mediaGroupItemContentHeader.content-box-header(style='display:none')
                h3#ContentHeaderLabel Media Group Items (Album Tracks)
              #mediaGroupItemTableDiv.tabcontent(style='display:none')
                // This is the target div. id must match the href of this div's tab
                div(style='margin:10px 0')
                    #fw_container
                        #fw_content
                          .full_width
                            <button id="btnAddMediaGroupItem"></button>
                            <button id="btnDeleteMediaGroupItem"></button>
                            <button id="btnMoveMediaGroupItemUp"></button>
                            <button id="btnMoveMediaGroupItemDown"></button>
                            table#mediagroupitem(cellpadding='0', cellspacing='0', border='0')
                              thead
                                tr
                                  th name
                                  th type
                                  th duration (HH:MM:SS)
                                  th contentURL
                                  th imageURL
                                  th producer
                                  th artist
                              tfoot
                                tr
                                  th name
                                  th type
                                  th duration (HH:MM:SS)
                                  th contentURL
                                  th imageURL
                                  th producer     
                                  th artist                                
                              // End .clear
              // End #mediagroupdiv
        #footer
          small
            | © Copyright 2009 Simpla Admin | Powered by 
            a(href='http://themeforest.net/item/simpla-admin-flexible-user-friendly-admin-skin/46073') Simpla Admin
            |  
            a(href='#') Top
        // End #footer
      // End #main-content